{% extends 'textlist/base.html' %}

{% block content %}
<!-- <h1>{{title}}</h1>
<p>Содержимое главной страницы</p>
{% for item in all_customers %}
    <h2>{{item.name_cust}}</li></h2>
    <h3>{{item.password_cust}}</h3>
{% endfor %} -->
<div class="main-container">
    <!-- Горизонтальное меню -->

    <div class="days-of-week">
        <ul class="listdo">
            <li><button class="dolist-element todl-bet">ПН</button></li>
            <li><button class="dolist-element todl-bet">ВТ</button></li>
            <li><button class="dolist-element todl-bet">СР</button></li>
            <li><button class="dolist-element todl-bet">ЧТ</button></li>
            <li><button class="dolist-element todl-bet">ПТ</button></li>
            <li><button class="dolist-element todl-bet">СБ</button></li>
            <li><button class="dolist-element todl-bet">НД</button></li>
        </ul>
    </div>

    <div class="container-vertical">

        <button class="vertical-block-todo plus">
            <img src="../static/textlist/images/plus.svg" class="plus1">
        </button>

        {% for note in all_cust_note %}
            {% if note.day_of_week == 3 %}          <!--День тижня-->
            <div class="vertical-block-todo">
                <div class="right-side-button">
                    <input type="time" id="time" name="time" class="title-time" value="{{ note.time_note }}"
                        pattern="[0-2][0-9]:[0-5][0-9]" />
                    <div>
                        <button class="refactor-buttons" id="t_{{note.pk}}"><img
                                src="../../static/textlist/images/telegram.png" class="telegram-button"></button>
                        <button class="refactor-buttons" id="d_{{note.pk}}"><img
                                src="../../static/textlist/images/delete_button.svg" class="telegram-button" onclick="deleteNote('{{note.pk}}')"></button>
                        <button class="refactor-buttons" id="e_{{note.pk}}" onclick="toggleContentEditable('{{note.pk}}')"><img
                                src="../../static/textlist/images/editing.svg" class="telegram-button"></button>
                    </div>
                </div>
                <div class="line-from-todo-det"></div>
                <div class="title-text" contenteditable="false" id="title_text_{{note.pk}}">{{note.title_note}}</div>
                <div class="line-from-todo-det-under-title"></div>
                <p class="todotext">
                </p>
            </div>
            {% endif %}
        {% endfor %}


    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>






</script>
{% endblock %}