{% extends 'textlist/base.html' %}

{% block content %}

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<div class="login-container-main">
    <div class="login-container">
        <div class="login">
            <h2 class="nonactive" style="font-size: 14px;"><a href="{% url 'auth' %}"> Вхід <a></h2>
            <div class="line-from-todo-det"></div>
            <h2 class="active" style="text-align: center;"> Реєстрація </h2>

            <form action="" method="post">{% csrf_token %}
                <div class = "textbox-auth text-log">
                <span>ім'я користувача</span>
                <br>{{ form.username }}<br>

                <span>Пошта</span>
                <br>{{ form.email }}<br>

                <span>Пароль</span>
                <br>{{ form.password1 }}<br>

                <span>Підтвердити пароль</span>
                <br>{{ form.password2 }}<br>

                <div style="display: flex; justify-content: center;">
                <button class="signin" type="submit">
                    Реєстрація
                </button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}